{
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"requireConfigFile": false
	},
	"extends": ["airbnb"],
	"rules": {
		"no-undef": "off"
	},
	"no-multiple-empty-lines": [2, { "max": 99999, "maxEOF": 0 }]
}
